/* RESET e FONT */

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

*,
*::before,
*::after  {
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
}    

:root {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: black;

/* repeated custom properties */
    --text-color: #202020;
    --dropbox-blue: #0061ff;
    --light-blue: #b4d0e7;
    --dropdown-menu-color: #f2eee8;
    --card-gap: 2rem;
}

body {
    padding-top: 10vh;
}

ul {
    list-style: none;
}

h1 {
    font-size: 5rem;
    color: var(--text-color);
    font-weight: 800;
    line-height: 1.3em;
    width: 65%;
    margin-inline: auto;
}

p,
span,
a {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 300;
    line-height: 1.4em;
}

a {
    text-decoration: none;
}

i {
    color: var(--text-color);
}

img {
    display: block;
}

button {
    display: inline-block;
    background-color: var(--dropbox-blue);
    color: white;
    border: 1px solid var(--dropbox-blue);
    font-size: inherit;
    font-weight: 300;
    padding: 0.75em 1.2em;
    cursor: pointer;
    white-space: nowrap;
}

.big {
    width: 62%;
    margin-inline: auto;
}

.small {
    width: 53%;
    margin-inline: auto;
}


/* HEADER and NAV */

header {
    min-height: 80%;
    background-color: var(--light-blue);

}

header .menu-container {
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 10;
}

header .menu-container li {
    padding: 0 1.2rem;
}

header .menu-container button {
    padding: 0.5em 1.2em;
}

header .menu {
    height: 100%;
    padding-inline: 0.25rem;
}

header .menu ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

header .menu ul > li {
    display: flex;
}

header .menu li > a {
    display: flex;
    align-items: center;
}

header .menu button {
    align-self: center;
}

header .menu .separator {
    flex-grow: 1;
}

/* Hero */

header .hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

header .hero .main-title {
    flex: 0 0 100%;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

header .hero .hero-text {
    flex: 0 0 30%;
}

header .hero img {
    flex: 0 0 70%;
    min-width: 0;
    margin-bottom: -7vh;
}

.hero-text button {
    margin: 2rem 0;
}    

.hero-text i {
font-size: 3rem;    
font-weight: 800;
margin-top: 5rem;
}


/* SECTION 1 - TROVA IL PIANO CHE FA PER TE */

.plans {
    margin-top: 9rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 3.5rem;
}

.plans form {
    margin-bottom: 3.5rem;
}

.plans label {
    margin-right: 2.5rem;
    line-height: 1.5rem;
    vertical-align: middle;
}

.plans .radio {
    appearance: none;
    background-color: #fff;
    padding: .35rem .35rem;
    color: var(--dropbox-blue);
    border: 0.35rem solid var(--dropbox-blue);
    border-radius: 50%;
    line-height: 1.5rem;
    vertical-align: middle;
}

.plans .cards-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: var(--card-gap);
    font-size: 0.95em;
}


.plans .card {
    border: 1px solid #d0d0d0;
    flex-direction: column;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    flex: 0 0 calc((100% - 2 * var(--card-gap)) / 3);
}

.plans .card .user-type {
    padding: 0.3rem 0;
    text-align: center;
}

.grey {
    color: #d0d0d0;
}

.blue {
    color: var(--dropbox-blue);
}

.bold {
    font-weight: 700;
}

.plans .card .line {
    border: 1px solid;
    margin: 0 -2rem;
}

.plans .card .category {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.plans .card .price {
    margin-top: 1rem;
}

.plans .card .time {
    margin-top: 0.4rem;
    margin-bottom: 3rem;
    color: #666666;
}

.plans .card .user-number,
.plans .card .space-amount,
.plans .card .description,
.plans .card .feature {
    display: flex;
    align-items: flex-start;
    gap: .5rem;
}

.plans .list i,
.plans .list i,
.plans .list i {
    padding-top: .3em;
}

.plans .card .user-number,
.plans .card .space-amount,
.plans .card .feature {
    margin-bottom: 1.5rem;
}

.plans .card .description,
.plans .card .buy-now {
    margin-bottom: 3rem;
}

.plans .card button {
    margin-bottom: 2rem;
}

.plans .card a {
    text-decoration: underline;
    color: blue;
    font-size: inherit;
}

.plans .card .short-line {
    border: 1px solid;
    margin-right: 50%;
    margin-bottom: 3rem;
}

.plans .card .plan-type {
    margin-bottom: 2rem;
}

.plans .horizontal {
    border: 1px solid #d0d0d0;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    justify-content: center;
}

.plans .horizontal .enterprise-cta {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.plans .horizontal .cta {
    display: flex;
    flex-direction: column;
    flex: 0 0 70%;
}

.plans .horizontal button {
    margin-top: 1.5rem;
    padding: 0.75rem 2rem;
}

.plans .horizontal .price {
    margin-bottom: 3rem;
}

.plans .horizontal .enterprise-cta {
    margin-bottom: 1.5rem;
}



/* SECTION 2 - ENTRA IN CONTATTO CON UN PARTNER */


section .partner-container {
    margin-top: 9rem;
    display: flex;
    align-items: flex-start;
    gap: calc(2 * var(--card-gap));
}

.partner-container img {
    min-width: 0;
    flex: 0 0 60%;
}

.partner-container .partner-text {
    flex: 0 0 calc(40% - 2 * var(--card-gap));
    padding-right: 2.5rem;
}


.partner-container h3 {
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.partner-container p {
    margin-bottom: 2rem;
}

.partner-container button {
    background-color: white;
    border: 1px solid black;
    color: black;
}


/* SECTION 3 - ESEGUI PIÙ OPERAZIONI CON DROPBOX BUSINESS */

section.multitask {
    margin-top: 9rem;
    margin-bottom: 3rem;
}

.multitask .cards-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: var(--card-gap);
}

.multitask .card {
    flex: 0 0 calc((100% - 2 * var(--card-gap)) / 3);
}

.multitask img {
    max-width: 100%;
}

.multitask h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.multitask p {
    padding-right: 1rem;
}



/* SECTION 4 - CLIENTS */

section.clients {
    margin-top: 9rem;
    margin-bottom: 3rem;
    --designit-dark: #a2d39b;
    --designit-light: #d1e9cd;
    --designit: #f5f5f5;
    --asu: #61082b;
    --uf: #0093ce;
    --topps: #ff1c1c;
    --bicycle: #d5001f;
    --hearst: #b4d0e7;
    --planet: #0d2481;
    --clear: #ffd830;
}

.clients .text-content {
    padding-inline: 0 15%;
}

.clients .text-content .title {
    font-size: 2.5rem;
    margin-bottom: 3.5rem;
    text-align: left;
}

.clients .text-content a {
    text-decoration: underline;
    color: blue;
}

.clients .container {
    display: flex;
    flex-wrap: wrap;
}

.clients .squares-container-normal {
    margin-top: 9rem;
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.clients .squares-container-large {
    margin-top: 9rem;
    width: calc(100% / 3);
    display: flex;
    align-items: flex-start;
}

.clients .square {
    flex: 0 0 50%;
    aspect-ratio: 1 / 1;
}

.clients .square-large {
    flex: 0 0 100%;
    aspect-ratio: 1 / 1;
}

/* square Designit small */
.clients .container .designit {
    background-color: var(--designit-dark);
    border: 4mm solid var(--designit-light);
    position: relative;
}

.clients .container .designit > img {
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.35);
}

/* square Arizona State University */
.clients .container .asu {
    background-color: var(--asu);
    position: relative;
}

.clients .container .asu > img {
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.4);
}

/* square University of Florida */
.clients .container .uf {
    background-color: var(--uf);
    position: relative;
}

.clients .container .uf > img {
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
}

/* square Topps */
.clients .container .topps {
    background-color: var(--topps);
    position: relative;
}

.clients .container .topps > img {
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.4);
}

/* square Designit large */
.clients .container .square-large {
    background-color: var(--designit);
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.clients .container .square-large > img {
    width: 51%;
    margin-bottom: 2.5rem;
}

.clients .container .square-large > hr {
    width: 20%;
    border: 1px solid #d0d0d3;
    margin-bottom: 2.5rem;
}

.clients .container .square-large > p {
    margin-bottom: 3rem;
}

/* square bicycle */
.clients .container .bicycle {
    background-color: var(--bicycle);
    position: relative;
}

.clients .container .bicycle > img {
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.4);
}

/* square hearst */
.clients .container .hearst {
    background-color: var(--hearst);
    position: relative;
}

.clients .container .hearst > img {
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.4);
}

/* square Lonely Planet */
.clients .container .planet {
    background-color: var(--planet);
    position: relative;
}

.clients .container .planet > img {
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.4);
}

/* square Clear Channel Outdoors */
.clients .container .clear {
    background-color: var(--clear);
    position: relative;
}

.clients .container .clear > img {
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* large bottom square full width */
.clients .container .bottom-square {
    width: 100%;
    background-color: #b4d0e7;
}

.clients .bottom-square .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10rem;
    padding: 7.8rem 0;  
}

.clients .bottom-square h2 {
    margin: 0;
    color: #61082b;
}

.clients .bottom-square button {
    background-color: #ffffff;
    color: var(--text-color);
    border: 1px solid #ffffff;
    padding: .75em 3.5em;
}
