/* RESET e FONT */

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

*,
*::before,
*::after  {
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
}    

:root {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: black;

/* repeated custom properties */
    --text-color: #202020;
    --dropbox-blue: #0061ff;
    --light-blue: #b4d0e7;
    --dropdown-menu-color: #f2eee8;
    --card-gap: 2rem;
    --top-nav-height: 8vh;
}

body {
    padding-top: var(--top-nav-height);
}

ul {
    list-style: none;
}

h1 {
    font-size: 5rem;
    color: var(--text-color);
    font-weight: 800;
    line-height: 1.3em;
    width: 65%;
    margin-inline: auto;
}

p,
span,
a {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 300;
    line-height: 1.4em;
}

a {
    text-decoration: none;
}

i {
    color: var(--text-color);
}

img {
    display: block;
}

button.blue {
    display: inline-block;
    background-color: var(--dropbox-blue);
    color: white;
    border: 1px solid var(--dropbox-blue);
    font-size: inherit;
    font-weight: 300;
    padding: 0.75em 1.2em;
    cursor: pointer;
    white-space: nowrap;
    opacity: 1;
    transition: 250ms opacity ease-in-out;
}

button.blue:hover {
    opacity: 0.8;
}

button.white {
    display: inline-block;
    background-color: #ffffff;
    color: var(--text-color);
    border: 1px solid #000000;
    font-size: inherit;
    font-weight: 300;
    padding: 0.75em 1.2em;
    cursor: pointer;
    white-space: nowrap;
    opacity: 1;
    transition: 250ms background-color ease-in-out;
}

button.white:hover {
    background-color: var(--dropdown-menu-color);
}

.big {
    max-width: 65%;
    margin-inline: auto;
}

.small {
    max-width: 50%;
    margin-inline: auto;
}

.bold {
    font-weight: 700;
}



/* HEADER and NAV */

header {
    min-height: 80%;
    background-color: var(--light-blue);
    padding-bottom: 1.5rem;
}

header .menu-container {
    height: var(--top-nav-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 10;
    box-shadow: 1px 1px 3px#cccccc;
}

header .menu-container li {
    padding: 0 1.2rem;

}

header .menu-container button {
    padding: 0.5em 1.2em;
}

header .menu {
    height: 100%;
    padding-inline: 0.25rem;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

header .menu ul {
    display: flex;
    height: 100%;
}

header .menu ul .left,
header .menu ul .right {
    flex: 0 0 30%;
}

header .menu ul > li {
    display: flex;
    position: relative;
}

header .menu li > a {
    height: 100%;
    display: flex;
    align-items: center;
}

header .menu button {
    align-self: center;
}

header .main-menu > .menu-item {
    color: inherit;
    transition: 300ms background-color ease-in-out;
}

header .main-menu > .menu-item:hover {
    background-color: var(--dropdown-menu-color);
}

 /* SUBMENU */

header .submenu {
    min-width: 150%;
    background-color: var(--dropdown-menu-color);
    display: flex;
    position: absolute;
    top: var(--top-nav-height);
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 300ms opacity ease-in-out;
}

header .submenu .submenu-column {
    width: 100%;
    display: flex;
    background-color: var(--dropdown-menu-color);
    flex: 0 0 100%;
    flex-direction: column;
    white-space: normal;
}

header .submenu .submenu-column * {
    font-size: 0.75rem;
    white-space: normal;
    padding: 0.3rem 0.6rem;
}

header .main-menu > .menu-item:hover .submenu {
    visibility: visible;
    opacity: 1;
}

header .submenu .submenu-item:hover {
    background-color: #dcd0c0;
}


/* Hero */

header .hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

header .hero .main-title {
    flex: 0 0 100%;
    padding-top: 5rem;
    padding-bottom: 3.5rem;
}

header .hero .hero-text {
    flex: 0 0 30%;
}

header .hero img {
    flex: 0 0 70%;
    min-width: 0;
    margin-bottom: -10vh;
}

.hero-text button {
    margin: 2rem 0;
}    

.hero-text i {
font-size: 3rem;    
font-weight: 800;
margin-top: 3rem;
}


/* SECTION 1 - TROVA IL PIANO CHE FA PER TE */

.plans {
    padding-top: 9rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 3.5rem;
}

.plans form {
    margin-bottom: 3.5rem;
}

.plans label {
    margin-right: 2.5rem;
    line-height: 1.5rem;
    vertical-align: middle;
}

.plans .radio {
    appearance: none;
    background-color: #fff;
    padding: .35rem .35rem;
    color: var(--dropbox-blue);
    border: 0.35rem solid var(--dropbox-blue);
    border-radius: 50%;
    line-height: 1.5rem;
    vertical-align: middle;
}

.plans .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--card-gap);
    font-size: 0.9em;
}

.plans .card {
    width: calc((100% - 2 * var(--card-gap)) / 3);
    border: 1px solid #d0d0d0;
}

.plans .card .user-type {
    padding: 0.3rem 0;
    text-align: center;
    border-bottom: 1px solid #d0d0d0;
}

.plans .card .user-features {
    padding: 0 2rem;
}

.plans .card .category {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.plans .card .price {
    margin-top: 1rem;
}

.plans .card .time {
    margin-top: 0.4rem;
    margin-bottom: 3rem;
    color: #666666;
}

.plans .card .user-number,
.plans .card .space-amount,
.plans .card .description,
.plans .card .feature {
    display: flex;
    align-items: flex-start;
    gap: .5rem;
}

.plans .list i {
    padding-top: .3em;
}

.plans .list .feature i {
    padding-top: .3em;
    color: var(--dropbox-blue);
}

.plans .card .user-number,
.plans .card .space-amount,
.plans .card .feature {
    margin-bottom: 1.5rem;
}

.plans .card .description,
.plans .card .buy-now {
    margin-bottom: 3rem;
}

.plans .card button {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
}

.plans .card button > a {
    text-decoration: none;
    color: #ffffff;
    font-size: inherit;
}

.plans .card a {
    text-decoration: underline;
    color: blue;
    font-size: inherit;
}

.plans .card .short-line {
    border: 1px solid #d0d0d0;
    margin-right: 50%;
    margin-bottom: 3rem;
}

.plans .card .plan-type {
    margin-bottom: 2rem;
}

.plans .card.full-width {
    flex: 1 0 100%;
}

.plans .horizontal {
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: flex-start;
}

.plans .horizontal .enterprise {
    flex: 0 0 70%;
}

.plans .horizontal .cta {
    margin-top: 1.5rem;
    flex: 0 0 calc(30% - var(--card-gap));
}

.plans .horizontal .price {
    margin-bottom: 3rem;
}

.plans .horizontal .enterprise {
    margin-bottom: 1.5rem;
}



/* SECTION 2 - ENTRA IN CONTATTO CON UN PARTNER */


section .partner-container {
    margin-top: 9rem;
    display: flex;
    align-items: flex-start;
    gap: calc(2 * var(--card-gap));
}

.partner-container img {
    min-width: 0;
    flex: 0 0 60%;
}

.partner-container .partner-text {
    flex: 0 0 calc(40% - 2 * var(--card-gap));
}

.partner-container h3 {
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.partner-container p {
    margin-bottom: 2rem;
}


/* SECTION 3 - ESEGUI PIÙ OPERAZIONI CON DROPBOX BUSINESS */

section.multitask {
    margin-top: 9rem;
    margin-bottom: 3rem;
}

.multitask .cards-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: var(--card-gap);
}

.multitask .card {
    flex: 0 0 calc((100% - 2 * var(--card-gap)) / 3);
}

.multitask img {
    width: 100%;
}

.multitask h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}



/* SECTION 4 - CLIENTS */

section.clients {
    margin-top: 9rem;
    margin-bottom: 3rem;
    --designit-dark: #a2d39b;
    --designit-light: #d1e9cd;
    --designit: #f5f5f5;
    --asu-dark: #61082b;
    --asu-light: #aa6677;
    --uf-dark: #0093ce;
    --uf-light: #afddff;
    --topps-dark: #ff1c1c;
    --topps-light: #ff8d8d;
    --bicycle-dark: #d5001f;
    --bicycle-light: #fd6c81;
    --hearst-dark: #b4d0e7;
    --hearst-light: #e3f2fe;
    --planet-dark: #0d2481;
    --planet-light: #5588cc;
    --clear-dark: #ffd830;
    --clear-light:#ffeebb;
}

.clients .text-content {
    padding-inline: 0 15%;
}

.clients .text-content .title {
    font-size: 2.5rem;
    margin-bottom: 3.5rem;
    text-align: left;
}

.clients .text-content a {
    text-decoration: underline;
    color: blue;
}

.clients .container {
    display: flex;
    flex-wrap: wrap;
}

.clients .squares-container-normal {
    margin-top: 9rem;
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.clients .squares-container-large {
    margin-top: 9rem;
    width: calc(100% / 3);
    display: flex;
    align-items: flex-start;
}

.clients .square {
    flex: 0 0 50%;
    aspect-ratio: 1 / 1;
}

.clients .square-large {
    flex: 0 0 100%;
    aspect-ratio: 1 / 1;
    overflow-y: scroll;
}


/* square Designit small */
.clients .container .designit {
    background-color: var(--designit-dark);
    position: relative;
    border: 1.1rem solid var(--designit-dark);
    border-color: var(--designit-dark);
    transition: 200ms border-color ease-in-out;
}

.clients .container .designit > img {
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.35);
}

.clients .container .designit:hover {
    border: 1.1rem solid var(--designit-light);
}

/* square Arizona State University */
.clients .container .asu {
    background-color: var(--asu-dark);
    position: relative;
    border: 1.1rem solid var(--asu-dark);
    border-color: var(--asu-dark);
    transition: 200ms border-color ease-in-out;
}

.clients .container .asu > img {
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.4);
}

.clients .container .asu:hover {
    border: 1.1rem solid var(--asu-light);
}

/* square University of Florida */
.clients .container .uf {
    background-color: var(--uf-dark);
    position: relative;
    border: 1.1rem solid var(--uf-dark);
    border-color: var(--uf-dark);
    transition: 200ms border-color ease-in-out;
}

.clients .container .uf > img {
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
}

.clients .container .uf:hover {
    border: 1.1rem solid var(--uf-light);
}

/* square Topps */
.clients .container .topps {
    background-color: var(--topps-dark);
    position: relative;
    border: 1.1rem solid var(--topps-dark);
    border-color: var(--topps-dark);
    transition: 200ms border-color ease-in-out;
}

.clients .container .topps > img {
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.4);
}

.clients .container .topps:hover {
    border: 1.1rem solid var(--topps-light);
}

/* square Designit large */
.clients .container .square-large {
    background-color: var(--designit);
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.clients .container .square-large > img {
    width: 51%;
    margin-bottom: 2.5rem;
}

.clients .container .square-large > hr {
    width: 20%;
    border: 1px solid #d0d0d3;
    margin-bottom: 2.5rem;
}

.clients .container .square-large > p {
    margin-bottom: 3rem;
}

/* square bicycle */
.clients .container .bicycle {
    background-color: var(--bicycle-dark);
    position: relative;
    border: 1.1rem solid var(--bicycle-dark);
    border-color: var(--bicycle-dark);
    transition: 200ms border-color ease-in-out;
}

.clients .container .bicycle > img {
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.4);
}

.clients .container .bicycle:hover {
    border: 1.1rem solid var(--bicycle-light);
}

/* square hearst */
.clients .container .hearst {
    background-color: var(--hearst-dark);
    position: relative;
    border: 1.1rem solid var(--hearst-dark);
    border-color: var(--hearst-dark);
    transition: 200ms border-color ease-in-out;
}

.clients .container .hearst > img {
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.4);
}

.clients .container .hearst:hover {
    border: 1.1rem solid var(--hearst-light);
}

/* square Lonely Planet */
.clients .container .planet {
    background-color: var(--planet-dark);
    position: relative;
    border: 1.1rem solid var(--planet-dark);
    border-color: var(--planet-dark);
    transition: 200ms border-color ease-in-out;
}

.clients .container .planet > img {
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.4);
}

.clients .container .planet:hover {
    border: 1.1rem solid var(--planet-light);
}

/* square Clear Channel Outdoors */
.clients .container .clear {
    background-color: var(--clear-dark);
    position: relative;
    border: 1.1rem solid var(--clear-dark);
    border-color: var(--clear-dark);
    transition: 200ms border-color ease-in-out;
}

.clients .container .clear > img {
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clients .container .clear:hover {
    border: 1.1rem solid var(--clear-light);
}

/* large bottom square full width */
.clients .container .bottom-square {
    width: 100%;
    background-color: #b4d0e7;
}

.clients .bottom-square .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10rem;
    padding: 7.8rem 0;  
}

.clients .bottom-square h2 {
    margin: 0;
    color: #61082b;
}

.clients .bottom-square button {
    padding: .75em 3.5em;
    border: transparent;
}



/* SECTION 5 - FAQ */

section.faq {
    margin-top: 9rem;
}

.faq i {
    font-size: .7em;
}

.faq button {
    padding: 0;
    background-color: transparent;
    border: none;
    line-height: 2rem;
    position: absolute;
    top: calc(50% - 1rem);
    right: 2.5rem;
}

.faq .question {
    position: relative;
    padding: 2rem 2.5rem 2rem 0;
    border-top: 1px solid #999999;
}

.faq .question:last-of-type {
    border-bottom: 1px solid #999999;
    margin-bottom: 9rem;
}


/* HOVER ON CHEVRON TO REVEAL HIDDEN TEXT */

.faq .hidden {
    display: none;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: justify;
}

.faq .question:hover .hidden {
    display: block;
    background-color: var(--text-color);
    border-radius: 10px;
    color: white;
    padding: 1rem;
    margin: 2rem 5rem 0 0;
}




/* FOOTER */

footer {
    background-color: #000000;
    color: #ffffff;
    padding: 6rem 0 2rem;
    padding-inline: 2rem;
}


/* FOOTER - nav section */

.footer-nav-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    list-style-type: none;
    text-align: left;
    margin-bottom: 6rem;
}

.footer-nav-menu {
    flex: 0 0 calc((100% - 4 * var(--card-gap)) / 5);
    gap: var(--card-gap);
    font-size: 1.25rem;
}

.footer-nav-menu p {
    color: inherit;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.footer-nav-menu li {
    margin-bottom: 0.7rem;
}

.footer-nav-menu a {
    color: #ffffff;
    font-weight: normal;
    list-style-type: none;
}
  

/* FOOTER - Language section */

.footer-language {
    margin-bottom: 1rem;
    color: #999999;
}

.footer-language hr {
    width: 7rem;
    margin-bottom: 3.5rem;
}

.footer-language .fa-earth-americas {
    color: inherit;
    padding-right: 0.5rem;
}

.footer-language span {
    color: inherit;
}

.footer-language .fa-caret-up {
    color: inherit;
    padding-left: 0.2rem;
}

.footer-language button {
    color: inherit;
    vertical-align: bottom;
    padding: 0;
    background-color: transparent;
    border: transparent;    
}